<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="AnnualInterestRate" value="5" />
        <add key="AdministrationFeePercent" value="1" />
        <add key="AdministrationFeeMin" value="10000" />
        <add key="Compound" value="Monthly" />
        <add key="Currency" value="kr." />
        <add key="Locale" value="en-US" />
    </appSettings>
</configuration>